VITE_SUPABASE_URL=https://dnumqsdoyntxyvfrviuq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRudW1xc2RveW50eHl2ZnJ2aXVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2ODU4MiwiZXhwIjoyMDk2MTQ0NTgyfQ.sekTpiKUxSWyFd-4iFO_x5BGVRySBBZpk11_5cOC_dM
VITE_APP_VERSION=1.0.0
